
    
    #tituloprincipal{
    color:rgb(143, 15, 15);
    text-align: center;
    font-size: 40px;
}


    .textoazul{
        text-align: justify;
        font-size: 20px;
        color:rgb(2, 0, 32);
    }
    
Body {
    background-color: rgb(218, 224, 194);
}





