
    
    #tituloprincipal{
    color:rgb(68, 180, 180);
    text-align: center;
    font-size: 40px;
}

#alunos{
    width: 30%;
}

header{
    padding: 20px;
    background-color: gold;
    border-bottom: 2px solid white;
    font-size: 32px;
    color: white;
    display: flex;
}

h1 {
    color: blue;
    text-align: justify;
    font-size: 30;
}

h2 {
    color:rgb(143, 15, 15);
    text-align: center;
    font-size: 40px;
}
    .textoazul{
        text-align: justify;
        font-size: 20px;
        color:rgb(2, 0, 32);
    }

    
    .textovermelho{
        text-align: justify;
        font-size: 20px;
        color:rgb(33, 2, 2);
    }
    
Body {
    background-color: rgb(218, 224, 194);
}

#alunos {
    width: 500px; 
    display: block;
    margin: auto;

}

#mexico {
    Width: 500px;
    height:300px;
    border-radius: 50px;
    color: red;
    
}

#bandeira {
    width: 200px;
    height: 100px;
}



