
    
    #tituloprincipal{
    color:rgb(15, 121, 143);
    text-align: center;
    font-size: 40px;
}


    p{
        text-align: justify;
        font-size: 20px;
        color:rgb(2, 0, 32);
    }
Body {
    background-color: rgb(218, 224, 194);
}





